.unitGradient {
  font-weight: 900;
  background: linear-gradient(
    161.68deg,
    #fba5a7 16.58%,
    #e7363c 37.14%,
    #cb282d 62.47%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
