.switchInput {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

/*
    FIXME: Laggy bullshit
*/

.switch {
  display: flex;
  flex-shrink: 0;
  padding: var(--spacing-2);
  overflow: hidden;
  background: var(--gray-40);
  border-radius: 31px;
  width: 51px;
  height: 31px;
  transition: background var(--transition-base);

  &::after {
    content: '';
    position: relative;
    overflow: hidden;
    width: 27px;
    height: 27px;
    left: 0;
    border-radius: 27px;
    transform: translateX(0);
    background: var(--bg-cards);
    transition: var(--transition-duration);
  }

  &:active::after {
    width: 34px;
  }
}

.switchInput:checked + .switch {
  background: var(--accent-red);

  &::after {
    left: 100%;
    transform: translateX(-100%);
  }
}
